<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>PaleoGestión</title>
    <style>
        .navbar {
            padding: .8rem 1rem;
        }
        .navbar-centered {
            position: relative;
        }
        .navbar-brand-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .navbar-right {
            margin-left: auto;
            margin-right: 15%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container-fluid navbar-centered">
            <a class="navbar-brand navbar-brand-center" href="/">
                <h1 class="mb-0">PaleoGestión</h1>
            </a>
            
            <div class="navbar-right">
                {% if sesionActiva %}
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="" id="userDropdown" role="button" data-bs-toggle="dropdown">
                            {{ usuarioActivo|default('Usuario') }}
                        </a>
                        <a onclick="logout(); return false">
                            <ul class="dropdown-menu dropdown-menu-end btn">
                                <li class="dropdown-item">Cerrar Sesión</li>
                            </ul>
                        </a>
                    </div>
                {% else %}
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="" id="loginDropdown" role="button" data-bs-toggle="dropdown">
                            Iniciar Sesión
                        </a>
                        <div class="dropdown-menu dropdown-menu-end p-3" style="min-width: 280px;">
                            <form method="" id="login">
                                <div class="mb-3">
                                    <label for="usuario" class="form-label">Usuario</label>
                                    <input type="text" class="form-control" id="usuario" name="user" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <p class="d-none alert-danger text-center" id="mensaje"></p>
                                <input type="button" class="btn btn-primary w-100" onclick="login()" value="Entrar"></input>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    
    <div class="container text-center mt-4">
        <div class="mt-3">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    
    <script>
        function mostrarFosiles(id) {
            fetch('/?id=' + id)
            .then(response => response.text())
            .then(html => {
                const tabla = document.getElementById('tabla-fosiles' + id);
                const tbody = document.getElementById('fosiles-' + id);
                if (tabla.classList.contains('d-none')) {
                    tabla.classList.remove('d-none');
                    tbody.innerHTML = html;
                } else {
                    tabla.classList.add('d-none');
                    tbody.innerHTML = '';
                }
            });
        }

        function formularioEsqueleto() {
            fetch('/?formNuevo=1')
            .then(response => response.text())
            .then(html => {
                borrarFormulario('.esqFormRow');
                document.getElementById('mainBody').innerHTML += html;
            });
        }

        function borrarFormulario(clase) {
            const row = document.querySelector(clase);
            if(row) row.remove();
        }

        function borrarEsqueleto(id) {
            const boton = document.getElementById('borrar' + id);
            if (boton.innerHTML === "Estás seguro?") {
                boton.setAttribute("href", "?borrar=" + id);
            } else {
                boton.innerHTML = "Estás seguro?";
            }
        }

        function editarEsqueleto(id) {
            fetch('/?formEditar=' + id)
            .then(response => response.text())
            .then(html => {
                const esqRow = document.querySelector('.esqRow' + id);
                esqRow.innerHTML = html;
            });
        }

        function formularioFosil(idEsq) {
            fetch('/?formFosil=' + idEsq)
            .then(response => response.text())
            .then(html => {
                const tabla = document.getElementById('tabla-fosiles' + idEsq);
                if (tabla.classList.contains('d-none')) {
                    mostrarFosiles(idEsq);
                } else {
                    borrarFormulario('.fosFormRow')
                }
                const fosRow = document.getElementById('fosiles-' + idEsq);
                fosRow.insertAdjacentHTML('afterend', html);
            });
        }

        function anadirFosilConId(idEsq) {
            const formulario = document.getElementById('nuevoFosil');
            fetch('/?anadirFosil=' + idEsq, {
                method: 'POST',
                body: new FormData(formulario)
            })
            .then(response => response.text())
            .then(message => {
                console.log(message);
                borrarFormulario('.fosFormRow')
                mostrarFosiles(idEsq);
                mostrarFosiles(idEsq);
            });
        }
        
        function borrarFosil(id, idEsq) {
            const boton = document.getElementById('borrarFosil' + id);
            if (boton.innerHTML === "Estás seguro?") {
                boton.setAttribute("href", "?borrarFosil=" + id);
                mostrarFosiles(idEsq);

            } else {
                boton.innerHTML = "Estás seguro?";
            }
        }
        
        function editarFosil(id) {
            fetch('/?formEditarFosil=' + id)
            .then(response => response.text())
            .then(html => {
                const fosRow = document.querySelector('.fosRow' + id);
                fosRow.innerHTML = html;
            });
        }

        function reload() {
            window.location.href = "/";
        }

        function login() {
            const formulario = document.getElementById('login');
            fetch('/?login=1', {
                method: 'POST',
                body: new FormData(formulario)
            })
            .then(response => response.text())
            .then(message => {
                if (message === "false") {
                    const mensaje = document.getElementById('mensaje')
                    mensaje.innerHTML = "No se ha podido iniciar sesión. Comprueba que las credenciales introducidas sean correctas";
                    mensaje.classList.remove('d-none');
                } else reload();
            });
        }

        function logout() {
            fetch('/?logout=1')
            .then(response => response.text())
            .then(() => {
                reload();
            })
        }

    </script>
    
</body>
</html>
